<div class="container">
  <h1><%= @task.title %></h1>
  <button type="button" class="btn btn-light position-absolute top-0 start-50"><span><i class="fa-regular fa-pen-to-square"></i></span><%= link_to 'Edit this task', edit_path(@task), class:"text-decoration-none" %></button>

  <div class="alert alert-light">
    <%= @task.details %>
  </div>
  <p>
    <% if @task.completed == true %>
      <span><i class="fa-regular fa-square-check"></i></span>
      This task is comleted.
    <% else %>
      <span><i class="fa-regular fa-square"></i></span>
      This task is not comleted yet.
    <% end %>
  </p>
  <hr>
  <p><span><i class="fa-solid fa-rotate-left"></i></span><%= link_to 'Back to list', tasks_path, class:"text-decoration-none" %></p>
</div>
